<!-- <mat-toolbar> -->
<!-- <mat-toolbar-row> -->
<!-- <div class="top-bar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
    <span><img src='/src/app/assets/img/IconFile.png'></span>
    <span>My App</span>
    <span class="material-icons" id="word"> menu </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</div> -->
<!-- </mat-toolbar-row> -->
<!-- </mat-toolbar> -->

<mat-nav-list>
    <div class="spacer-top"></div>
    <!-- <mat-toolbar> -->
    <!-- <mat-toolbar-row> -->
    <div class="top-bar">
        <!-- <div class="menu-items"> -->
        <!-- <span class="items">  -->
        <span><h1>File</h1></span>
        <br>
        <!-- <br> -->
        <div class="spacer-bottom">
            <br>
        </div>
        <br>
        <!-- <span class="material-icons" id="word"> menu </span> -->
        <!-- </span> -->
        <!-- <div class="row"> -->
        <!-- <button mat-icon-button> -->
        <!-- <button mat-icon-button (click)="toggleSideBar()"> -->
        <!-- <mat-icon>menu</mat-icon> -->
        <!-- </button> -->


        <!-- <span><img src='/src/assets/img/File.png'></span> -->
        <!-- </div> -->
    </div>
    <br>
    <!-- </div> -->
    <!-- </mat-toolbar-row> -->
    <!-- </mat-toolbar> -->

    <!-- <mat-divider></mat-divider> -->
    <!-- <br> -->
    <h2 matSubheader>Pages</h2>

    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Properties</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/properties">File Trademark</a>
    <br> -->

    <!-- <mat-divider></mat-divider> -->
    <!-- <br> -->
    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
    <br>
    <mat-divider> </mat-divider> -->

    <div class="profile-card">
        <div class="header">

            <div class="spacer"></div>
            <!-- <span> -->
            <!-- <img src="https://png.pngtree.com/element_our/png_detail/20181008/b-logo-isolated-on-black-background-png_130986.jpg" alt=""> -->
            <a>
                <mat-icon>person</mat-icon>
                Account Name
            </a>
            <!-- <h2>Account Name</h2> -->
            <!-- <h4>example@email.com</h4> -->


        </div>
    </div>

    <!-- <storybook-button label='Storybook Btn'></storybook-button> -->
</mat-nav-list>