<div class="top-bar">
    <div class="spacer-top"></div>
    <!-- <h1>Dashboard</h1> -->
</div>
<div class="main">
    <!-- <app-area></app-area> -->

</div>

<div class="properties">
    <br>
    <ul>
        <li>
            <!-- <mat-divider></mat-divider> -->

            <h3>Property 1</h3>

        </li>
        <!-- <div>Line chart</div>
    <div>Line chart</div>
    <div>Line chart</div> -->

        <li>
            <!-- <mat-divider></mat-divider> -->
            <!-- <br> -->

            <h3>Property 2</h3>

        </li>
        <li>
            <!-- <mat-divider></mat-divider> -->
            <!-- <br> -->
            <h3>Property 3</h3>
            <!-- <mat-divider></mat-divider> -->
            <!-- <br> -->
        </li>
    </ul>
</div>