<!-- <app-step-one></app-step-one> -->
<!-- <a [routerLink]="['/step-one']" routerLinkActive="step-one">Step 1</a> -->

<!-- <mat-list role="list"> -->
    <!-- <h3><a mat-list-item routerLinkActive="list-item-active" routerLink="/properties">File Trademark</a> -->
<a routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
     <a routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard 2</a> 
     <a routerLinkActive="list-item-active" routerLink="/step-one">Step One</a>
      <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/properties-list">Properties</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">List</a>  -->
      <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-table">Table</a> 
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-drag-drop">Drag & Drop</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-nav">Nav 2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-address-form">Address Form</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-tree">Tree</a> -->
    <!-- </h3> -->
<!-- </mat-list> -->
<!-- <router-outlet></router-outlet> -->