<!-- <app-step-one></app-step-one> -->
<!-- <a [routerLink]="['/step-one']" routerLinkActive="step-one">Step 1</a> -->
<div class="top-bar">
    <div class="spacer-top"></div>
    <!-- <h1>Dashboard</h1> -->
</div>
<div class="main">
    <!-- <app-area></app-area> -->


    <app-gray-sidebar></app-gray-sidebar>
    <app-questions-set1></app-questions-set1>
</div>
<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/properties-list">Properties</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">List</a>  -->
<!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-table">Table</a> 
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-drag-drop">Drag & Drop</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-nav">Nav 2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-address-form">Address Form</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/angular-tree">Tree</a> -->
<!-- </h3> -->
<!-- </mat-list> -->
<!-- <router-outlet></router-outlet> -->