<div class="top-bar">
    <div class="spacer-top"></div>
    <!-- <h2>Dashboard</h2> -->
</div>

<div class="content">
    <div class="main">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <!-- <app-area></app-area> -->
            </mat-grid-tile>
            <mat-grid-tile>
                <!-- <app-area></app-area> -->
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- <mat-card> -->
    <div class="main">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <!-- <app-area></app-area> -->
            </mat-grid-tile>
            <!-- </mat-card> -->

            <!-- <mat-card> -->
            <mat-grid-tile>
                <!-- <app-area></app-area> -->
            </mat-grid-tile>

        </mat-grid-list>
    </div>
</div>
<!-- </mat-card> -->


<!-- <mat-grid-tile>5  
                <mat-card>
                <app-area></app-area>
                <mat-card>
            </mat-grid-tile>
            <mat-grid-tile>6 
                    <mat-card>
                    <app-area></app-area>
                    <mat-card>
                </mat-grid-tile> -->
<!-- </mat-grid-list> -->
<!-- <mat-grid-tile>
            <app-area></app-area>
        </mat-grid-tile> -->

<!-- <mat-grid-tile>
            <app-area></app-area>
        </mat-grid-tile>  -->

<!-- <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>1<app-area></app-area></mat-grid-tile>
                <mat-grid-tile>2<app-area></app-area></mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
                <mat-grid-tile>4</mat-grid-tile>
              </mat-grid-list>
  -->

<!-- <app-area></app-area> -->
<!-- </div> -->

<!-- <div class="charts"> -->
<!-- <app-area></app-area> -->

<!-- <mat-divider></mat-divider> -->

<!-- <div>Line chart</div> -->
<!-- <div>Line chart</div>
    <div>Line chart</div>
    <div>Line chart</div> -->

<!-- 
    <mat-divider></mat-divider>


    <div>Table</div>
    <mat-divider></mat-divider>
    <div>Pie Chart</div> -->