<!-- <app-root></app-root> -->
<!-- <nav>
    <a routerLink="/">Dashboard</a>
    <a routerLink="/dashboard">Dashboard</a>

</nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-messages></app-messages> -->
<!-- <app-default></app-default> -->
<!-- <nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">
                {{ 'siteTitle' }}
            </a>
    </div>
</nav> -->
<div class="container">
    <app-root></app-root>
    <router-outlet></router-outlet>
</div>